.button {
	margin-bottom: 10px;
	margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.createTeam {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
.floatInput {
	float: left;
}
.createTeam:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
.title {
	margin-bottom: 20px;
}
.addName {
	background-color: white;
    color: blue;
    border: 2px solid #555555;
}
.removeName {
	background-color: white;
    color: red;
    border: 2px solid #555555;
}
.textBox {
	font-size: 16px;
    margin: 5px;
    background-color: lightyellow;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#team1 {
	color: blue;
	width: 50%;
	float: left;
}
#team2 {
	color: red;
	width: 50%;
}